<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title>Project Management</title>

        <link rel="stylesheet" href="/assets/css/tabler.min.css">
    </head>
    <body class="antialiased">
        <div class="page">
            {% include '_partials/navbar.html.twig' %}

            {% block before_content %}{% endblock %}

            <div class="content">
                <div class="container-xl">
                    {% block content %}{% endblock %}
                </div>
            </div>
        </div>

        <script type="text/javascript" src="/assets/js/tabler.min.js"></script>
    </body>
</html>