{% extends '_layout/base.html.twig' %}

{% block content %}
    <div class="my-3 my-md-5">
        <div class="container">
            <div class="page-header">
                <h1 class="page-title">
                    Projects
                </h1>
            </div>
            <div class="row row-cards">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table card-table table-hover table-vcenter">
                                <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th colspan="2"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for project in projects %}
                                    <tr>
                                        <td>{{ project.name }}</td>
                                        <td class="w-1">
                                            <a href="{{ path('projects_show', { slug: project.slug }) }}" class="icon"><i class="fe fe-info"></i></a>
                                        </td>
                                        <td class="w-1">
                                            <a href="{{ path('projects_edit', { slug: project.slug }) }}" class="icon"><i class="fe fe-edit"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}